/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: local(''),
       url('../assets/fonts/inter-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/inter-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-600 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: optional;
  src: local(''),
       url('../assets/fonts/inter-v11-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/inter-v11-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-mono-regular - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: local(''),
       url('../assets/fonts/roboto-mono-v21-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/roboto-mono-v21-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  /* Colors */
  --primary: #fdb54a;
  --secondary: #ffd479;
  --link-color: white;
  --border-color: #111;
  --heading-font-color: var(--primary);
  --background-color: #282c34;
  --sidebar-color: #373d49;
  --navbar-color: #1c1e24;
  --navbar-color-hover: #272a33;
  --sidebar-color-hover: #464e5f;
  --sidebar-color-focus: #57637c;
  --category-background-color: #1c1e24;
  --category-background-color-hover: #24272e;
  --light-border-color: rgba(255, 255, 255, 0.1);
  --toolbar-background-color: #181818;
  --toolbar-color: #eee;
  --font-color: #d0d5df;
  --dark-font-color: rgba(245, 250, 255, 0.5);
  --bright-font-color: #eee;
  --input-background: rgba(0, 0, 0, 0.3);
  --blockquote-background-color: rgba(0, 0, 0, 0.2);
  --blockquote-color: #b3b9c5;
  --black: #111;
  --inline-code-background-color: #393e4b;
  --inline-code-color: #d0d5df;
  --dark-opacity: rgba(0, 0, 0, 0.2);
  --dark-opacity-hover: rgba(0, 0, 0, 0.3);
  --reverse: var(--background-color);
  --scrollbar: var(--navbar-color);
  --scrollbar-track: var(--sidebar-color-hover);
  --yellow: #ffd479;
  --button-color: #6b76f3;
  --button-font-color: white;

  --page-width: 850px;
  --page-width-large: 1350px;

  /* Font */
  --font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    'Roboto', Roboto, Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --code-font-family: 'Roboto Mono', Courier New, monospace;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a:focus-visible,
button:focus-visible {
  outline: 3px solid var(--primary);
  border-radius: 8px;
  border-bottom-color: transparent;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: 1rem;
  line-height: 1.65;
  color: var(--font-color);
  background: var(--background-color);
  color-scheme: light dark; 
  width: 100%;
  height: 100%;
}


/*========================================*/
/*=========  Global BEM styles  ==========*/
/*========================================*/

.pf{
}
.pf__panegroup{
}
.pf__panegroup--horizontal{
}
.pf__panegroup--vertical{
}
.pf__panegroup--main{
  width: 100%;
  height: 100%;
}
.pf__pane{
}
.pf__resizer{
  display: flex; 
  position: relative; 
  justify-content: center; 
  align-items: center; 
  transition: background-color .1s ease-out;
}
.pf__resizer--horizontal{
  height: 0.5rem; 
  /*1px line in the middle of the div*/
    background: linear-gradient(180deg, black 1px, transparent 1px);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 100% 50%;
}
.pf__resizer--vertical{
  width: 0.5rem; 
  /*1px line in the middle of the div*/
    background: linear-gradient(90deg, black 1px, transparent 1px);
    background-position: 100% 0;
    background-repeat: repeat-y;
    background-size: 50%;
}
.pf__resizer[data-active]{
  background-color: var(--primary);
  background-size: 0;
  outline: none;
}


