---
import { Image } from 'astro:assets';
import '../styles/custom.css'
import logo_large from '../assets/landing-logo-large.svg'
import logo_small from '../assets/landing-logo-small.svg'
import star from '../assets/star.svg'
import art1 from '../assets/art_1_v2_dark.png'
---

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="x64" />
  <link rel="manifest" href="/site.webmanifest" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>x86-64 playground | About</title>

  <meta name="description" content="An online assembly editor and debugger for the x86-64 architecture. The quickest way to run, debug, and share assembly snippets for a wide range of amd64 assemblers - GNU binutils, Fasm, Nasm" />
  <meta name="keywords" content="Gdb, x86-64, x64, CTF, assembly, debugger, Fasm, Binutils, webassembly, wasm binutils, wasm assembler" />
  <meta name="author" content="https://halb.it" />
  <link rel="canonical" href="https://x64.halb.it/about" />
  <meta name="robots" content="index, follow" />

  <meta property="og:title" content="X86-64 playground" />
  <meta property="og:description" content="An online assembly editor and debugger for the x86-64 architecture. The quickest way to run, debug, and share assembly snippets for a wide range of amd64 assemblers - GNU binutils, Fasm, Nasm" />
  <meta property="og:image" content="https://x64.halb.it/card.jpg" />
  <meta content="1762" property="og:image:width">
  <meta content="1068" property="og:image:height">
  <meta property="og:url" content="https://x64.halb.it/" />
  <meta property="twitter:card" content="https://x64.halb.it/card.jpg" />
  <meta property="og:site_name" content="X86-64 playground" />
  <meta property="twitter:image:alt" content="X86-64 playground" />

</head>
<header>
  <div class="container">
    <div class="logo">
      <picture>
        <source media="(max-width: 350px)" sizes="1px" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7 1w"/>
        <source media="(min-width: 500px)" width="258" height="67" srcset={logo_large.src}/>
        <img src={logo_small.src} width="67", height="67"/>
      </picture>
      <span class="visually-hidden" translate="no" >
        x86-64 Playground
      </span>
    </div>
    <nav>
      <a href="/">Run</a>
      <a href="/getting-started/">Guides</a>
      <a href="https://github.com/robalb/x86-64-playground" class="icon">
          <img src={star.src} aria-hidden="true" />
            Star on GitHub
      </a>
    </nav>
  </div>
</header>

<div class="hero">
  <Image src={art1} alt="aa" />

  <h1>x86-64 Playground</h1>
  <h2>An online assembly editor and GDB-like debugger</h2>
</div>


<style>
  .hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
  }
  .hero img{
    max-width: 20rem;
    height: auto;
  }
  h1{
    color: var(--theme-primary);
    font-size: 3.5rem;
    line-height: 3rem;
    margin: 0;
    text-align: center;

    font-family: 'Neuton';
  }
  h2{
    color: var(--color-gray-100);
    text-align: center;
    line-height: 1.8rem;
    font-size: 1.3rem;
    font-family: 'Inter';
    font-weight:400;
  }

  @media screen and (min-width: 600px){
    h1{
      font-size: 3.5rem;
      line-height: 3.5rem;
    }
    h2{
      line-height: 1.8rem;
      font-size: 1.3rem;
    }
  }

</style>
